<div class="navbar">
  <h2>do?</h2>
</div>
<tr>
  <% @dodesu.each do |dodesu| %>
      <td><%= link_to image_tag(thumbnail_image_dodesu_path(dodesu)), dodesu_path(dodesu) %></td>
  <% end %>
</tr>
<br>
<div class="navbar">
  <h2>dame</h2>
</div>
<tr>
  <% @dame.each do |dame| %>
      <td><%= link_to image_tag(thumbnail_image_dame_path(dame)), dame_path(dame) %></td>
  <% end %>
</tr>
