<h1>home</h1>
<p>sintyoku dodesuka</p>
<br>
<br>
<h1><%= link_to '進捗どうですか？', dodesus_path %></h1><br>
<h1><%= link_to 'ダメです', dames_path %></h1>
<br>
<br>
<%= image_tag 'https://dl-web.dropbox.com/s/497hf9on18mxth0/shintyoku-001.jpg' %>

