<%- model_class = Dodesu -%>
<div class="page-header">
  <h1>Shintyoku do?</h1>
</div>

<dl class="dl-horizontal">
  <%= link_to image_tag(image_dodesu_path(@dodesu)), image_full_dodesu_path(@dodesu), :target=>["_blank"] %>
</dl>

<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              dodesu_path(@dodesu),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
